body{
    background-color: #313131;
}

.form-group{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input{
    display: block;
    width: 100%;
    height: 2em;
    background-color: transparent;
    border: 2px solid #31D9FF;
    color: #EEE;
    font-size: 1.2em;
    padding: 10px;
}

label{
    position: absolute;
    top: -2em;
    left: 0;
    opacity: 1;
    transition: all 0.3s;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #eee;
}

/* el placeholder-shown sirve para hacer algo cuando se escribe */
.input:placeholder-shown + label{
    top: 12px;
    left: 12px;
    opacity: 0;
}