*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon-menu{
    width: 3em;
    height: 26px;
    margin: 150px auto;
}

.icon-menu div{
    width: 100%;
    height: 10px;
    background-color: #222;
    margin-bottom: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.container{
    display: flex;
    height:  90vh;
    justify-content: center;
    align-items: center;
}

.icon-menu div:nth-child(2){
    width: 80%;
}

.icon-menu div:nth-child(3){
    width: 40%;
}