@media only screen and (max-width:600px){

    .navbar{
        background-color: #ca4172;
        height: 80px;
        box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.42);
        align-items: center;
    }

    .navbar .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background-color: #ca4172;
        height: 50vh;
        left: -1em;
        transform: translateY(-120%);
        transition: all 1.4s;
    }

    .navbar .menu-toggle{
        transform: translateY(0%);
    }

    .navbar li{
        margin-top: 3em;
    }

    .hero .menu-bar{
        display: block;
        grid-template-columns: 2/3;
        font-size: 2em;
        color: whitesmoke;
        cursor: pointer;
    }

    /* main section  */
    .main{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 70vh;
    }

    .main img{
        width: 12em;
    }

    .main h1{
        margin-top: -80px;
    }

    .main .form{
        display: flex;
        flex-direction: column;
        margin: 30px;
    }

    /* about section  */
    .about{
        width: 90%;
        margin: 0 auto;
    }

    .about .about-content{
        display: flex;
        flex-direction: column;
    }
    .about img{
        width: 300px;
        margin-top: 3em;
        margin-bottom: -2em;
    }

    /* support section  */
    .support{
        flex-direction: column;
        padding-left: 30px;

    }

    /* banner  */
    
    #banner{
        height: 50vh;
        background-position: center;
    }

    .banner .rating img{
        width: 80px;
    }

    .banner h2{
        font-size: 1.5em;
    }

    .banner .secundary-info{
        display: none;
    }

    /* footer section  */
    footer{
        flex-direction: column-reverse;
    }

    .footer .social-network {
        margin: 2em;
    }

    .footer .quicklinks .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}