@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');

@import url('mediaQueries.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.hero{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/vectores/vector-1.png);
    background-size: cover;
}



/* estilos navbar */
.navbar{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 30px;
}

.navbar .menu{
    grid-column: 6/9;
    display: flex;
    margin-top: 12px;
}

.menu li{
    list-style: none;
}

.menu li a{
    text-decoration: none;
    margin-right: 3em;
    font-size: 1.3em;
    color: whitesmoke;
    font-weight: 300;
    padding: 10px 20px;
}

.menu li a:hover{
    background-color: #F7D733;
    color: black;
    font-weight: 400;
    transition: all 0.8s;
}

.navbar .brand{
    color: #F7D733;
}

.menu-bar{
    display: none;
}


/* main  */
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.xd{
    margin-top: 5em;
    color: white;
}

button{
    cursor: pointer;
    color: whitesmoke;
    box-shadow: 0px 3px 14px -8px rgba(0, 0, 0, 0.78);
}

button:hover{
    box-shadow: none;
}

.btn-toBuy, .btn-toRead{
    background-color: #ca4172;
    padding: 8px 40px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
}

.btn-toRead{
    background: none;
    border: 1px solid white;
    margin: 20px;
}

.main img{
    margin-top: 3em;
}



/* ABOUT SECTION  */
.about h2{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

.about .about-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;


}

.about .about-content h3{
    text-transform: uppercase;
    margin-bottom: 1em;
}


 .divider{
    background-color: #ca4172;
    width: 50px;
    height: 3px;
    margin: 0 auto;
}

 /* PRODUCTS section */

.products{
    width: 90%;
    margin: 0 auto;
}

.row .container-products{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-products .contetn-product-info, .content-price{
    display: flex;
}

.content-price .last-price{
    text-decoration: line-through;
    font-weight: lighter;
    margin-right: 20px;
}

.content-price .new-price{
    background-color: #ca4172;
    padding: 5px 10px;
    color: azure;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

article .btn-product{
    margin: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    color: black;
    margin-left: 5em;
}

.contetn-product-info h4{
    text-transform: uppercase;
    margin-right: -10px;
}

.row, .container-products{
    margin-top: 3em;
}

.products{
    margin-bottom: 5em;
}

.contetn-product-info{
    margin-top: 20px;
}

/* support section  */
.support{
    background-color: #ca4172;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.support h2{
    font-size: 3em;
    font-weight: lighter;
}

.support .btn-toRead{
    margin-left: .2em;
}

/* banner section  */
.banner{
    background-image: url(../img/banner.jpeg);
    width: 100vw;
    background-size: cover;
    height: 100vh;
    background-position:auto;
    max-width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.banner .rating{
    grid-column: 3/4;
}

.rating h2{
    text-align: center;
}
.banner .secundary-info{
    grid-column: 8/11;
}

.banner h2{
    font-size: 3em;
}

.secundary-info h2, .secundary-info h3{
    margin-bottom: 10px;
}

/* footer section  */
footer{
    background-color: #8c50f1;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer .menu li{
    margin-top: 15px;
}

.footer .social-network .fab{
    font-size: 1.8em;
    margin: 10px;
}

.footer .social-network .fab :hover{
    color: #F7D733;
}

